@font-face {
    font-family: 'Font-Core';
    src: url('./customfont/Poppins-Black.eot');
    src: url('./customfont/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('./customfont/Poppins-Black.woff2') format('woff2'),
        url('./customfont/Poppins-Black.woff') format('woff'),
        url('./customfont/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font-Core';
    src: url('./customfont/Poppins-Bold.eot');
    src: url('./customfont/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('./customfont/Poppins-Bold.woff2') format('woff2'),
        url('./customfont/Poppins-Bold.woff') format('woff'),
        url('./customfont/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font-Core';
    src: url('./customfont/Poppins-Light.eot');
    src: url('./customfont/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('./customfont/Poppins-Light.woff2') format('woff2'),
        url('./customfont/Poppins-Light.woff') format('woff'),
        url('./customfont/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font-Core';
    src: url('./customfont/Poppins-Medium.eot');
    src: url('./customfont/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('./customfont/Poppins-Medium.woff2') format('woff2'),
        url('./customfont/Poppins-Medium.woff') format('woff'),
        url('./customfont/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font-Core';
    src: url('./customfont/Poppins-Regular.eot');
    src: url('./customfont/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('./customfont/Poppins-Regular.woff2') format('woff2'),
        url('./customfont/Poppins-Regular.woff') format('woff'),
        url('./customfont/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font-Core';
    src: url('./customfont/Poppins-SemiBold.eot');
    src: url('./customfont/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./customfont/Poppins-SemiBold.woff2') format('woff2'),
        url('./customfont/Poppins-SemiBold.woff') format('woff'),
        url('./customfont/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
