
.icon-abajo:before { content: '\e800'; } /* '' */
.icon-admin:before { content: '\e801'; } /* '' */
.icon-advertencia:before { content: '\e802'; } /* '' */
.icon-agregar:before { content: '\e803'; } /* '' */
.icon-arriba:before { content: '\e804'; } /* '' */
.icon-borrar:before { content: '\e805'; } /* '' */
.icon-buscar:before { content: '\e806'; } /* '' */
.icon-calendario:before { content: '\e807'; } /* '' */
.icon-cancelar:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-cliente:before { content: '\e80a'; } /* '' */
.icon-conciliadores:before { content: '\e80b'; } /* '' */
.icon-derecha:before { content: '\e80c'; } /* '' */
.icon-descargar:before { content: '\e80d'; } /* '' */
.icon-direccion:before { content: '\e80e'; } /* '' */
.icon-editar:before { content: '\e80f'; } /* '' */
.icon-enviar:before { content: '\e810'; } /* '' */
.icon-establecimiento:before { content: '\e811'; } /* '' */
.icon-excel:before { content: '\e812'; } /* '' */
.icon-genererar_c:before { content: '\e813'; } /* '' */
.icon-imagen:before { content: '\e814'; } /* '' */
.icon-info:before { content: '\e815'; } /* '' */
.icon-izquierda:before { content: '\e816'; } /* '' */
.icon-mas_info:before { content: '\e817'; } /* '' */
.icon-opcion:before { content: '\e818'; } /* '' */
.icon-pagos:before { content: '\e819'; } /* '' */
.icon-politicas:before { content: '\e81a'; } /* '' */
.icon-prefactura:before { content: '\e81b'; } /* '' */
.icon-vendedores:before { content: '\e81c'; } /* '' */
.icon-excel2:before { content: '\e81d'; } /* '' */
.icon-error:before { content: '\e81e'; } /* '' */
.icon-comercio:before { content: '\e81f'; } /* '' */
.icon-tool_tip-33:before { content: '\e824'; } /* '' */